# config files for routers
# the config file contains three parts
# Ran Bao, COSC364

# Router id
router-id = 5

# Input ports
# The ports that listening the message from other routers
input-ports = 10010,10011

# Outputs
outputs = 10008-2-4,10012-1-6
