# config files for routers
# the config file contains three parts
# Ran Bao, COSC364

# Router id
router-id = 3

# Input ports
# The ports that listening the message from other routers
input-ports = 10002

# Outputs
outputs = 10001-1-2,10003-1-4
