# config files for routers
# the config file contains three parts
# Ran Bao, COSC364

# Router id
router-id = 4

# Input ports
# The ports that listening the message from other routers
input-ports = 10007,10008,10009

# Outputs
outputs = 10006-4-3,10015-6-7,10010-2-5
