# config files for routers
# the config file contains three parts
# Ran Bao, COSC364

# Router id
router-id = 7

# Input ports
# The ports that listening the message from other routers
input-ports = 10014,10015

# Outputs
outputs = 10001-8-1,10008-6-4
